<div class="jumbotron jumbotron-fluid mb-0 bg-dark text-white w-100 text-center">
    <img src="/assets/P3.jpg" class="img-fluid rounded mb-3" style="height: 50px;opacity:1;">
    <p>Pain Procedure Platform © 2020. All rights reserved. </p>
</div>


